.container {
  display: flex;
  margin-top: 10px;
  padding: 10px;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.616);
}

.container h1 {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 38px;
  color: black;
}
.container p {
  font-family: "Source Sans Pro", sans-serif;
  text-align: center;
  font-size: 15px;
  line-height: 1.8;
  padding: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: gray;
}
.container2 {
  box-shadow: 1px 2px 2px 1px gray;
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  justify-content: space-between;
}
.container4 {
  padding: 0px;
  margin: 0px;
  background-color: rgba(255, 255, 255, 0.666);
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  justify-content: space-evenly;
  align-items: center;
}
.icon {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 10px;
}
.icon p i {
  color: #10f0e9;
  padding-left: 10px;
  padding-right: 10px;
  font-size: 20px;
}

/* CSS */
.button31 {
  background-color: #222;
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Farfetch Basis", "Helvetica Neue", Arial, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.5;
  margin: 0;
  max-width: none;
  min-height: 44px;
  min-width: 10px;
  outline: none;
  overflow: hidden;
  padding: 9px 20px 8px;
  position: relative;
  left: 170px;
  text-align: center;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 50%;
}

.button31:hover,
.button31:focus {
  opacity: 0.75;
}

@media only screen and (max-width: 600px) {
  .container2 {
    box-shadow: 1px 2px 2px 1px gray;
    padding: 10px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
  }
  .container2 div img {
    width: 330px;
    height: auto;
  }
  .container h1 {
    margin-top: 10px;
    font-size: 18px;
  }
  .container p {
    font-size: 12px;
    line-height: 1.8;
    padding: 30px;
  }
  .button31 {
    left: 100px;
    margin-bottom: 10px;
  }

  .container4 {
    display: none;
  }
  .columns {
    padding: 7px;
    flex-direction: column;
  }
  .row2 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
  }
  #mob {
    display: flex;
    flex-direction: row;
    margin-left: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
  .mobrow {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .mobrow2 {
    display: none;
  }
  .fos {
    display: none;
  }
  .karta {
    width: 400px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
