.col2 {
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.11);
  margin: 5px 0px;
  padding: 15px;
  padding-left: 20px;
}
#col22 {
  background-color: rgba(128, 128, 128, 0.555);
}

.col2 h2 {
  color: red;
  font-size: 20px;
}

.col1 {
  margin: 5px 0px;
  padding: 15px;
  padding-left: 20px;
}
.col1 h2 {
  margin-top: 20px;
  color: black;
  font-size: 20px;
}

#naslov {
  font-family: "Source Sans Pro", sans-serif;
  text-align: start;
  margin-left: 80px;
  font-size: 26px;
  font-weight: bold;
}

#podnaslov2 h2 {
  position: relative;

  color: red;
  font-size: 32px;
  padding: 10px;
}
@media only screen and (max-width: 600px) {
  .col2 {
    display: flex;

    flex-direction: column;
  }
  #col22 {
    background-color: white;
  }
  #col22 iframe {
    margin-top: 15px;
    margin-bottom: 15px;
    width: 325px;
  }
  .button22 {
    padding: 7px 7px 7px 20px;
  }
}
